[Desktop Entry]
Name=Breath

X-KDE-PluginInfo-Name=Breath
X-KDE-PluginInfo-Author=CodeLinSoft
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
