[Desktop Entry]
Name=EndeavourOS Settings Manager
Name[ca]=Gestor de configuració de EndeavourOS
Name[de]=EndeavourOS Einstellungen
Name[en_GB]=EndeavourOS Settings Manager
Name[es]=Gestor de configuración de EndeavourOS
Name[fr]=EndeavourOS Gestionnaire de paramètres
Name[pl]=Menedżer ustawień EndeavourOS
Name[ro]=Gestionar de Setări EndeavourOS
Name[sk]=Správca nastavení systému EndeavourOS

Comment=Graphical Settings Manager for EndeavourOS
Comment[ca]=Gestor de configuració gràfic de EndeavourOS
Comment[de]=Grafische Einstellungsverwaltung für EndeavourOS
Comment[en_GB]=Graphical Settings Manager for EndeavourOS
Comment[es]=Gestor de configuración gráfico de EndeavourOS
Comment[fr]=Gestionnaire graphique de paramètres pour EndeavourOS
Comment[pl]=Graficzny menedżer ustawień systemu EndeavourOS
Comment[ro]=Gestionar grafic de setări de sistem pt. EndeavourOS
Comment[sk]=Grafický správca nastavení pre systém EndeavourOS

Exec=eos-settings-manager
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
